<ion-card>

  <ion-card-header>
    <ion-card-subtitle>
      <span class="text-primary" >{{ indice + 1 }}. </span>
      <span class="noticia-source-name">{{ noticia.source.name }}</span>

      <div class="noticia-more">
        <ion-button (click)="lanzarMenu()" fill="clear" >
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>
    <ion-card-title>{{ noticia.title }}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="noticia.urlToImage"
  [src]="noticia.urlToImage"
  (click)="abrirNoticia()"
  >
  <ion-content>
    <p>
      {{ noticia.description }}
    </p>
  </ion-content>
  </ion-img>
</ion-card>