<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ng-container *ngIf='datalocalService.noticias.length > 0'>
    <app-noticias [noticias]="datalocalService.noticias" [enFavoritos]="true" ></app-noticias>
  </ng-container>

  <ng-container *ngIf='datalocalService.noticias.length == 0'>
    <ion-slides [options]='sliderOpts'>
      <ion-slide>
        <ion-label>No hay favoritos</ion-label>
      </ion-slide>
    </ion-slides>
  </ng-container>

</ion-content>
