<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria($event)">

    <ion-segment-button mode="md" 
                        *ngFor="let categoria of categorias"
                        [value]="categoria"
    >
      <ion-label text-capitalize>  {{categoria}} </ion-label>
    </ion-segment-button>

  </ion-segment>

  <app-noticias [noticias]="noticias" ></app-noticias>

  <ion-infinite-scroll threshold="150px"  position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
